@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

body{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: whitesmoke;
}

header {
    padding: 2% 0 2% 0;
    position: relative;
}

.Header1 {
    display: inline-block;
    /* margin-right: 0%; */
}

#pint-icon{
    padding-right: 50%;
}

header div img{
    width: 110%;
  height: auto;
  padding-right: 5%;
}
header h1 {
    font-size: 40px;
    font-family: 'IM Fell DW Pica', serif;
    margin-left: 3%;
    width: 100%;
}
header h3 {
    font-size: 10px;
    font-family: 'Kadwa', serif;
    margin-left: 3%;
    width: 100%;
    color: rgb(116, 116, 112);
}
ul li {
    display: inline-block;
}
nav ul {
    position: absolute;
    right:0%;
    bottom:25%;
}


main {
    padding: 5% 0 5% 0;
    position: relative;
}

section h2 {
    font-size: 35px;
    font-family: 'Coda', cursive;
    font-weight: bolder;
}
#main-heading {
    padding-bottom: 2%;
}

#main-heading p {
    font-size: 13px;
    color: rgb(197, 197, 197);
    font-family: 'Coda', cursive;
    line-height: 20px;
}

#main-heading div {
    position: absolute;
    right: 0%;
    top: 6%;
    font-size: 13px;
    color: rgb(197, 197, 197);
    font-family: 'Coda', cursive;
    line-height: 20px;
}

#hero-img img{
    width: 100%;
}

.paragraph {
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 3px;
    text-indent: 30px;
    color: rgb(104, 103, 103);
    line-height: 20px;
}

#container {
    position: relative;
    width: 80%;
}
#container img{
    margin-left: 10%;
    margin-right: 10%;
}
#item-list{
    width: 100%;
    position: absolute;
    top: 13%;
    left: 13%;
}
.item { 
    display: inline-block;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    color:#8b6d3e;
    font-weight: bold;
    line-height: 35px;
    padding-left: 10%;
    margin-left: 2%;
}
.item1{
    text-decoration: line-through;
}

#Vanessa {
    line-height: 40px;
    width: 100%;
    position: relative;
}

#Vanessa h3 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
#Vanessa p {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

/* .sub-heading {
    display: inline-block;
    height: 40%;
} */
#info {
    width: 80%;
}

.sub-heading h3, .sub-heading p {
    margin-left: 10%;
}

#sub-heading-1{
    width: 100%;
}

#btn button {
    float: right;
    width: 150px;
    background-color: #bc7058;
    height: 55px;
    margin-top: -70px;
    border: none;
    font-size: 18px;
    color: rgb(253, 250, 250);
    font-style: normal;
}

.sub-heading p {
    width: 80%;
}

#box-heading {
    width: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
}

footer {
    position: relative;
    padding: 0 0 2% 0;
}

#footer-image {
    position: absolute;
    bottom: 175%;
    left: 50%;
}

#credits {
    text-align: center;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(139, 139, 139);
}